#admin_main_left_menu{
 	height: 100%;
    margin-top: -20px;
    padding: 0;
    /* background-color:white; */
    display: inline-block;
    border-color: #e7e7e7;
}
#admin_main_contents{

}

#admin_main_contents{
	height: 100%;
	background-color:pink;
	display: inline-block;
	margin-top: -20px;
}
#admin_main_left_menu_ul{
	list-style: none;
	font-size: 18px;
    font-weight: 600;
    padding: 0;
    text-align: center;
    margin:0;
}
.left_menu_li_first{
    background-color: red;
    border:solid 1px;
    cursor: pointer;
    text-align: -webkit-left;
}
#admin_main_left_menu_ul li a{
/*    background-color: #467ca2;
    border: solid 1px #316a91;
    border-bottom: 0;
    color:white;*/
}
.left_menu_li2 li{
    background-color: white;
    border:solid 1px;
    cursor: pointer;
    text-align: -webkit-left;
}