body{
	background: #e9e9e9;
}

.container1{
	/*background-image: url("../img/1.jpg");*/
	background-size: 100%;
	position: relative;
}

.ul1 li {
	margin-left:20px;
	font-size: 17px;
    font-weight: bolder;
}

.ul1{
	margin-left:5%;
}

.nav_1{
/*	height:45%;
	width:45%;*/
	position: relative;
	margin:0 auto;
}

.navbar_1{
	margin:0px;
}

.ul2{
	list-style: none;
	padding: 0;
}
.ul2 li a img{
	margin:0 auto;
}

.ul2 li{
	margin: 0 auto;
	width:inherit;
	height: 500px;
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 0;
	background-image: url("../img/slide2.jpg");
}

.prev{
	z-index: 500;
    position: absolute;
    margin-top: 200px;
}

.next{
	z-index: 500;
    position: relative;
    margin-top: 200px;
    float: right;
}
.container3-1{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
	background-image: url("../img/news.jpg");

}

.container4-1{
	background:#FFF;
}

.C4li{
	list-style: none;
	display: -webkit-box;
    font-size: 16px;
    margin:0;
    margin-top:20px;
}

.C4li li{
	margin-left: 80px;
	white-space:nowrap;
}

.container5-1{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
	background-image: url("../img/products.jpg");

}

.container5-2{
	background-color: #FFF;
	height:30px;
}

.container6-1{
	background-color:#FFF;
	height:250px;
	padding: 0;
}

.container6-1 ul{
	list-style: none;
} 