.instroduce_container1{
	height: 700px;
}

.instroduce_container1-1{
	height: 700px;
	background-color: #fff;
}

.instroduce_container1-2{
	background-color: #FFF;
	height: 700px;
}

.instroduce_container1-1-1{
	background-image: url("../img/shezhi.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	height:44px;
}
.instroduce_container1-1-2{
	background-color: #54c3f7;
	padding: 0;
}
.instroduce_container1-1-2 ul{
	padding: 0;
}
.instroduce_container1-1-2 ul li{
	list-style: none;
    background-color: #54c3f7;
    width: 160px;
    text-align: -webkit-center;
    font-size: 19px;
    color: #FFF;
    text-decoration: underline;
    margin-top:15px; 
    cursor: pointer;
}
.instroduce_container1-1-2 ul li a{
	color:#FFF;
}
.instroduce_tittle{
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;	
}

.instroduce_txt{
	height:206px;
	background-color:#FFF; 
}

.instroduce_img{
	text-align: -webkit-center;
	background-image: url("../img/company.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 400px;
}

.instroduce_team_img{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../img/team.jpg");
	height: 340px;
}

.instroduce_team_text{
	height:500px;
	background-color: #FFF;
	height:266px;
}

.instroduce_culture_img ul{
	list-style: none;
	display: -webkit-inline-box;
}

.instroduce_culture_img ul li img{
	width: 230px;
	height:230px;
}

.instroduce_culture_img ul li {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}